/*For Blue Topaz theme v1.0*/

/* Blockquote header */
.markdown-preview-view blockquote {
  position: relative; /* for pseudos */
  color: var(--theme-color);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 2em 0 3em;
  border: 3px solid;
  border-radius:20px;
  padding: 10px 15px;
  background: var(--background-primary) !important;
}

.theme-dark .markdown-preview-view blockquote {
  background-color: var(--background-primary) !important;
}

.markdown-preview-view blockquote p{
 color: var(--text-normal);
 font-size: 16px;
}

.markdown-preview-view blockquote:after {
  content:"";
  position: absolute;
  border: 2.5px solid var(--theme-color);
  border-radius: 35px 0 0 0;
  width: 50px;
  height: 55px;
  bottom: -58px;
  left: 25px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  z-index: 3; 
}

.markdown-preview-view blockquote:before {
  content:"";
  position: absolute;
  width: 25px;
  border: 10px solid var(--background-primary);
  bottom: -7px;
  left: 20px;
  z-index: 2;
}

