/* Four seasons v0.2 for Blue Topaz */
.workspace-split.mod-root .workspace-leaf:nth-child(n) .workspace-leaf-content:not([data-type="outline"])::before {
    background-size: 100% 100%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
}

.theme-dark .workspace-split.mod-root .workspace-leaf:nth-child(4n+0) .workspace-leaf-content::before {
    background-image:url("https://unsplash.com/photos/svqOMDFb_qw/download?force=true&w=1920");
    background-size: cover;
}

.theme-dark .workspace-split.mod-root .workspace-leaf:nth-child(4n+1) .workspace-leaf-content::before {
    background-image: url("https://unsplash.com/photos/_TuI8tZHlk4/download?force=true&w=1920");
    background-size: cover;
}

.theme-dark .workspace-split.mod-root .workspace-leaf:nth-child(4n+2) .workspace-leaf-content::before {
    background-image: url("https://unsplash.com/photos/4qt6g8Aabcw/download?force=true&w=1920");
    background-size: cover;
}

.theme-dark .workspace-split.mod-root .workspace-leaf:nth-child(4n+3) .workspace-leaf-content::before {
    background-image: url("https://unsplash.com/photos/5ui0tfMC5ts/download?force=true&w=1920");
    background-size: cover;
}

.theme-light .workspace-split.mod-root .workspace-leaf:nth-child(4n+0) .workspace-leaf-content::before {
    background-image:url("https://unsplash.com/photos/oxEhuyAlqYk/download?force=true&w=1920");
    background-size: cover;
}

.theme-light .workspace-split.mod-root .workspace-leaf:nth-child(4n+1) .workspace-leaf-content::before {
    background-image: url("https://unsplash.com/photos/4w-bg40jbI4/download?force=true&w=1920");
    background-size: cover;
}

.theme-light .workspace-split.mod-root .workspace-leaf:nth-child(4n+2) .workspace-leaf-content::before {
    background-image: url("https://unsplash.com/photos/eriuKJwcdjI/download?force=true&w=1920");
    background-size: cover;
}

.theme-light .workspace-split.mod-root .workspace-leaf:nth-child(4n+3) .workspace-leaf-content::before {
    background-image: url("https://unsplash.com/photos/GhX9SH0bNcc/download?force=true&w=1920");
    background-size: cover;
}

.theme-light .workspace-leaf.mod-active .view-header {
    background: linear-gradient(120deg, #aad1ec 0%, #d7eeea 100%);
}

.theme-dark .workspace-leaf.mod-active .view-header {
    background: linear-gradient(120deg, #000000b2 0%, #105fc760 50%);
}


