/* In the sky for Blue Topaz */

.theme-light .workspace {
  background-image: url("https://images.unsplash.com/photo-1514519334989-3d5c8b1a9f91?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
}

.theme-dark .workspace {
  background-image: url("https://images.unsplash.com/photo-1556912672-78d3869a6374?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
  background-size: cover;
}
  
.theme-light {
  --background-primary: #ffffff96; 
  --background-primary-alt: #f7f7f7bb; 
  --background-secondary: #ececec91; 
  --background-secondary-alt: #ffffff67; 
}

.theme-dark {
  --background-primary: #20202086; 
  --background-primary-alt: #2a2a2a6c; 
  --background-secondary: #1616167a; 
  --background-secondary-alt: #0a0a0a8c; 
}

.theme-light .workspace-leaf.mod-active .view-header {
  background: linear-gradient(120deg, #aad1ec 0%, #d7eeea 100%);
}

.theme-dark .workspace-leaf.mod-active .view-header {
  background: linear-gradient(120deg, #214d6a 0%, #5f6564 100%);
}

.workspace-tab-container-before.is-before-active .workspace-tab-header-inner, 
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner, 
.workspace-tab-header.is-before-active .workspace-tab-header-inner, 
.workspace-tab-header.is-after-active .workspace-tab-header-inner,
.workspace-tab-header, 
.workspace-tab-header-inner, 
.workspace-split.mod-left-split .view-content, 
.workspace-split.mod-right-split .view-content,
.workspace-tab-header.is-after-active,
.workspace-tab-header.is-before-active {
  background-color: transparent;
  border-radius: 0%;
}    

.workspace-tab-header.is-active {
  background-color: var(--background-secondary-alt);
  border-radius: 0%;
}

.workspace-tab-container-before,
.workspace-tab-container-after{
  width:0;
}

.workspace-tab-header-container {
  background-color: var(--background-primary);
}

.view-header {
  border-radius: 0 !important;
}

.plugin-sliding-panes .workspace-leaf.mod-active {
  background-color: var(--background-primary);
}

.CodeMirror-gutter.CodeMirror-linenumbers, 
.CodeMirror-gutter.CodeMirror-foldgutter {
  background-color: transparent;
}

.theme-dark .popover.hover-popover {
  background-color: #252525;
}

.theme-light .popover.hover-popover {
  background-color: #f1f1f1;
}